body {
  background-color: #D71030;
  background: url("../images/body-bg.jpg");
  background-size: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Aclonica", sans-serif;
  color: #ffffff;
  background-size: 100% 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0;
  box-shadow: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7A031C;
  border-radius: 0;
  box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D71030;
  border-radius: 6px;
  box-shadow: none;
}

.btn.btn-primary {
  background: #FFE500;
  border-color: #FFE500;
  color: #D71030;
  height: 55px;
  line-height: 55px;
  padding: 0 2.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #d6c000;
  border-color: #d6c000;
}
@media screen and (max-width: 767px) {
  .btn.btn-primary {
    height: 45px;
    line-height: 45px;
    font-size: 1rem;
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 567px) {
  .btn.btn-primary {
    font-size: 0.8rem;
    padding: 0 1rem;
  }
}
.btn.btn-secondary {
  background: none;
  border-color: #FFE500;
  color: #ffffff;
  height: 55px;
  line-height: 55px;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background: #e6ce00;
  border-color: #e6ce00;
  color: #D71030;
}
@media screen and (max-width: 767px) {
  .btn.btn-secondary {
    height: 45px;
    line-height: 45px;
    font-size: 1rem;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 567px) {
  .btn.btn-secondary {
    font-size: 0.8rem;
    padding: 0 1rem;
  }
}

.mb-wapper {
  overflow-x: hidden;
}
.mb-wapper .mbheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.mb-wapper .mbheader .header-left {
  color: #FFE500;
  font-size: 1.8rem;
}

.banner-section {
  padding: 5.5rem 0;
}
@media screen and (max-width: 767px) {
  .banner-section {
    padding: 3rem 0;
  }
}
.banner-section .banner-left h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.banner-section .banner-left p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}
.banner-section .banner-left .actions {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .banner-section .banner-left .actions {
    margin-top: 1rem;
  }
}
.banner-section .banner-left .actions .telegram-btn svg {
  width: 60px;
}
@media screen and (max-width: 767px) {
  .banner-section .banner-left .actions .telegram-btn svg {
    width: 45px;
  }
}
@media screen and (max-width: 767px) {
  .banner-section .banner-left .actions .telegram-btn svg {
    width: 40px;
  }
}
.banner-section .banner-right {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .banner-section .banner-right {
    text-align: center;
    margin-top: 2rem;
  }
}
.banner-section .banner-right img {
  width: 100%;
  max-width: 430px;
}

.whychoose-section {
  text-align: center;
  padding: 6rem 0;
}
.whychoose-section .container {
  position: relative;
}
.whychoose-section h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .whychoose-section h1 {
    font-size: 2rem;
  }
}
.whychoose-section h1 span {
  color: #FFE500;
}
.whychoose-section p {
  max-width: 500px;
  margin: 1.2rem auto 2rem auto;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.whychoose-section h3 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .whychoose-section h3 {
    font-size: 1.1rem;
  }
}
.whychoose-section h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .whychoose-section h2 {
    font-size: 2.2rem;
  }
}
.whychoose-section .heart-icon svg {
  width: 90px;
}
.whychoose-section .coin-icon {
  text-align: center;
  margin-top: 1rem;
}
.whychoose-section .coin-icon img {
  width: 120px;
}
.whychoose-section .part2 {
  position: absolute;
  left: -5%;
  max-width: 160px;
  bottom: -5%;
  animation: MoveUpDown 1.8s linear infinite;
}
@media screen and (max-width: 767px) {
  .whychoose-section .part2 {
    max-width: 80px;
  }
}
.whychoose-section .part1 {
  position: absolute;
  right: -5%;
  top: 0;
  max-width: 160px;
  animation: MoveUpDown 1.5s linear infinite;
}
@media screen and (max-width: 767px) {
  .whychoose-section .part1 {
    max-width: 80px;
  }
}

.tokenomics-section {
  padding: 8rem 0;
}
@media screen and (max-width: 767px) {
  .tokenomics-section {
    padding: 5rem 0;
  }
}
.tokenomics-section .container {
  position: relative;
}
.tokenomics-section .coin-right {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .tokenomics-section .coin-right {
    text-align: center;
  }
}
.tokenomics-section .coin-right img {
  max-width: 200px;
  animation: MoveUpDownT 1.8s linear infinite;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .tokenomics-section .coin-right img {
    max-width: 150px;
    top: 0;
  }
}
.tokenomics-section h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .tokenomics-section h1 {
    font-size: 2rem;
  }
}
.tokenomics-section p {
  margin: 1.2rem auto 2rem auto;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  word-break: break-all;
}
.tokenomics-section h3 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.takeworld-section {
  padding: 6rem 0 8rem 0;
}
@media screen and (max-width: 767px) {
  .takeworld-section {
    padding: 4rem 0 6rem 0;
    text-align: center;
  }
}
.takeworld-section h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 767px) {
  .takeworld-section h1 {
    font-size: 1.5rem;
  }
}
.takeworld-section h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .takeworld-section h2 {
    font-size: 1.5rem;
  }
}
.takeworld-section .right-img {
  max-height: 420px;
  max-width: 100%;
}
.takeworld-section .actions {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}
@media screen and (max-width: 767px) {
  .takeworld-section .actions {
    justify-content: center;
    margin-bottom: 2rem;
  }
}
.takeworld-section .actions .telegram-btn svg {
  width: 60px;
}
@media screen and (max-width: 767px) {
  .takeworld-section .actions .telegram-btn svg {
    width: 45px;
  }
}

.footer {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  padding: 2.8rem 0 1.8rem 0;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 96%;
  }
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes MoveUpDownT {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */